/* Noto serif font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

/* Inter font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: regular;
  font-style: normal;
}

/* Global Style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Styles */

.main-color{
    color: rgb(0, 0, 0, 0.5);
}

.orange-color{
    color: #E95A0B;
}

.navicolor{
    color: #252432;
}

.navmcolor{
    color: #8987A1;
}

.prifoze{
    font-size: 1.375rem;
}

.tifoze{
    font-size: 3.125rem;
}

.bold-font{
    font-weight: bold;
}

.semb-font{
    font-weight: 600;
}

.med-font{
    font-weight: 500;
}

.primary-button{
    background-color: #E95A0B;
    color: white;
    border-radius: 5px;
    padding: 19px 80px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    /* cursor: pointer; */
}

/* Header Styles */

header {
    max-width: 1140px;
    margin: 30px auto 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 100%;
}

.nav-links{
    display: flex;
    gap: 48px;
}

.link-hidden ul{
    display: flex;
    gap: 48px;
}

.link-hidden li{
    list-style: none;
}

.link-hidden a{
    text-decoration: none;
}

.link-cart{
    display: flex;
    align-items: center;
    gap: 10px;
}

.link-cart a{
    text-decoration: none;
}

@media screen and (max-width: 576px){
    header{
        margin: 16px 20px;
    }
    .link-hidden{
        display: none;
    }
    .logo img{
        width: 55%;
    }
}

/* Banner Styles */

.banner{
    max-width: 1140px;
    margin: 0 auto 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.banner-content, -banner-image{
    width: 50%;
}

.banner-title{
    font-size: 4.0625rem;
    margin-bottom: 15px;
}

.banner-image img{
    width: 100%;
}

@media screen and (max-width: 576px){
    .banner{
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 65px;
    }
    .banner-content{
        width: 100%;
        padding: 28px 16px;
    }
    .banner-title{
        font-size: 1.5rem;
    }
    .banner-info{
        font-size: 0.875rem;
    }
    
}

/* Plant Section */

.plant{
    max-width: 1140px;
    margin: 0 auto 210px;
    text-align: center;
}

.plant-title{
    margin-bottom: 16px;
}

.plant-info{
    width: 888px;
    margin: 0 auto;
}

.plant-content{
    margin-bottom: 49px;
}

.plant-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 10px;
}

.plant-image{
    margin-bottom: 30px;
    width: 100%;
}

.plant-name{
    margin-bottom: 20px;
}

.plant-price{
    margin-bottom: 30px;
}

@media screen and (max-width: 576px){
    .plant{
        margin-bottom: 41px;
    }
    .plant-content{
        margin-bottom: 30px;
    }
    .plant-title{
        font-size: 1.5rem;
    }
    .plant-info{
        font-size: 0.875rem;
        width: 336px;
    }
    .plant-cards{
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
        gap: 20px;
        margin: 15px;
    }
    .plant-btn{
        padding: 19px 30px;
    }
}

/* Plants Lover Section */

.lover{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.lover-image{
    width: 100%;
}

.lover-image img{
    width: 100%;
}

.badge{
    position: absolute;
    top: 2050px;
    left: 30%;
}

.badge img{
    width: 30%;
}

.lover-description{
    margin: 25px;
}

@media screen and (max-width: 576px){
    .lover{
        flex-direction: column;
        margin: 15px;
    }
    .badge{
        display: none;
    }
    .lover-title{
        font-size: 1.5rem;
        margin-bottom: 16px;
    }
    .lover-description{
        font-size: 0.875rem;
        width: calc(100% - 30px);
    }
}

/* Deal Section */

.deal{
    max-width: 1440px;
    margin: 120px auto;
    text-align: center;
}

.deal-title{
    margin-bottom: 16px;
}

.deal-info{
    width: 888px;
    margin: 0 auto;
}

@media screen and (max-width: 576px){
    .deal{
        margin: 120px auto 50px;
    }
    .deal-title{
        font-size: 1.5rem;
    }
    .deal-info{
        font-size: 0.875rem;
        width: 336px;
    }
}